* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCFCFD;
    color: #334155;
    padding-bottom: 50px;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: #FCFCFD;
}

.icon-img {
    display: none;
}

.logo {
    color: #3037EB;
    font-weight: bold;
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-links a {
    text-decoration: none;
    color: #64748b;
    font-size: 16px;
}

.btn-browse {
    height: 48px;
    font-size: 16px;
    color: #312B78;
    background: #F1F0FA;
    border: none;
    padding: 8px 24px;
    margin-right: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Container */
.container {
    margin: 40px 120px 0 120px;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
}

h2 {
    font-size: 32px;
}

/* Profile Banner */
.profile-banner {
    height: 98px;
    background-color: #EEEDFC;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.avatar-large {
    border-radius: 50%;
    border: 1px solid #7B61FF;
}

/* Form Styling */
.form-section label {
    display: block;
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
}

.form-section label span {
    font-weight: normal;
    color: #94a3b8;
    font-size: 14px;
    margin-left: 5px;
}

textarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    color: #e2e8f0;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    resize: none;
    background-color: #FFFFFF;
}

/* Portfolio Upload */
.upload-box {
    width: 157px;
    height: 103px;
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    background: white;
}

.plus-icon {
    font-size: 14px#6A6A6A;
    color: #6A6A6A;
}

.upload-box p {
    font-size: 12px;
    color: #545454;
}

/* Action Buttons */
.actions {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.avatar-circle {
    padding: 20px 0 20px 0;
}

.form-container {
    display: flex;
    gap: 20px
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 625px;
    padding: 18px 25px;
    columns: #545454;
    border: 1px solid #e2e8f0;
    background-color: #FFFFFF;
    border-radius: 8px;

}


.btn-save {
    font-size: 16px;
    background-color: #867FD1;
    color: #F8F8F9;
    border: none;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 500;
}

.btn-cancel {
    background-color: #EAE8F7;
    color: #867FD1;
    border: none;
    padding: 8px 24px;
    border-radius: 24px;
    cursor: pointer;
}

/* mobile screen */
@media (max-width: 480PX) {
    .navbar {
        width: 100%;
        height: 64px;
        padding: 0 16px 0 16px;
    }

    .logo {
        font-size: 24px;
    }

    .icon-img {
        display: flex;
        gap: 16px;
    }

    .nav-links {
        display: none;
    }

    .container {
        padding: 0;
        width: 100%;
        margin: 0;
    }

}